:root {
  --primary: #38bdf8;
  --secondary: #818cf8;
  --accent: #f471b5;
  --neutral: #1e3353;
  --accent-text: #14040c;
  --text-light: #c8cbd0;
  --text-dark: #010d15;
  --bg-dark: #0f172a;
  --success: #2dd4bf;
  --warning: #f4bf50;
  --error: #fb7085;
  --dot-color: #1a2642;
  --dot-size: 2px;
  --dot-space: 22px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
        90deg,
        var(--bg-dark) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--bg-dark) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.container:not(:last-of-type) {
  margin-bottom: 3rem;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: ease 0.5s;
  text-decoration: none;
}

.btn:hover {
  opacity: 50%;
}

.btn-blue {
  color: var(--bg-dark);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-blue-inverted {
  color: var(--primary);
  background-color: var(--bg-dark);
  border: 1px solid var(--primary);
}

@media (max-width: 767px) {
    .container {
    width: 100%;
    padding: 0.5rem;
    margin: auto;
  }
}
